.account-options-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: gray;
  padding: 10px 10px;
}

.account-option-button:first-of-type {
  margin-top: 0px;
}